@inherits LayoutComponentBase

<Layout Class="layout">
    <Header>
        <div class="logo" />
    </Header>
    <Content Style="        padding: 0 50px;
        min-height: 100%;
">
        @*<Breadcrumb Style="margin: 16px 0;">
            <BreadcrumbItem>Home</BreadcrumbItem>
            <BreadcrumbItem>List</BreadcrumbItem>
            <BreadcrumbItem>App</BreadcrumbItem>
        </Breadcrumb>*@
        <div class="site-layout-content">@Body</div>
    </Content>
    <Footer Style="text-align: center; ">©2020 Created by Roy</Footer>
</Layout>

<style>
    .site-layout-content {
        padding: 24px;        
    }

    .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }
</style>